certifi==2020.6.20
click==7.1.2
cmake==3.18.4.post1
dlib==19.18.0
et-xmlfile==1.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
jdcal==1.4.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.3
opencv-contrib-python==4.4.0.44
openpyxl==3.0.5
pandas @ file:///C:/ci/pandas_1602083338010/work
Pillow==8.0.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
wincertstore==0.2
